
@{
    ViewData["Title"] = "MinifiedView";
    Layout = "_Layout";
}

<h2>MinifiedView</h2>


<table id="minified-table" data-bind="foreach: MinifiedMovies">
    <tr>
        <td data-bind="text: Id"></td>
        <td data-bind="text: Title"></td>

    </tr>
</table>

<script type="text/javascript" src="~/js/knockout.js"></script>
<script type="text/javascript" src="~/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="~/Scripts/ViewModels/MinifiedMoviesViewModel.js"></script>

@section Scripts{
    <script type="text/javascript">
        var minifiedListViewModel = null;
        $(document).ready(function () {
            var minifiedListViewModel = new MinifiedMoviesListViewModel();
            console.log(minifiedListViewModel);

            ko.applyBindings(minifiedListViewModel, document.getElementById("minified-table"));

            ajaxGet("/Movie/GetMoviesByCategories", {}, function (data) {
                minifiedListViewModel.init(data);
                console.log("Data", data);
            }, function (err) {
                console.log(err);
                alert("An error occured");
            });
        });

        function ajaxGet(url, postData, successCallback, failureCallBack, context, asyncCall) {
            $.ajax({
                url: url,
                dataType: "json",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                async: asyncCall === undefined ? true : asyncCall,
                cache: false,
                data: postData,
                success: successCallback,
                error: failureCallBack,
                context: context
            });
        }

    </script>
}
