body {

}

.movie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50%;
}

.details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.right-details {
    margin-top: 30px;
    margin-left: 12px;
}

.add-to-playlist {
    width: 10%;
    height: 5%;
    margin-top: 43px;
    text-align: center;
    border-radius: 50%;
    color: white;
    background-color: #004191;
    cursor: pointer;
}

.header {
    height: 56px;
    background-color: #0f1954;
}

.header-title {
    margin: auto;
    width: 156px;
    height: 35px;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.footer {
    height: 56px;
    background-color: #004191;
}

.movie-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    width: inherit;
}


.image-content {
    padding: 25px;
}


.routing {
    padding: 25px;
}

.routing ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.routing li {
    float: left;
    margin-right: 5px;
    border-bottom: 2px solid blue;
}

.routing li a {
  display: block;
  color: cornflowerblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.title {
    width: 186px;
    height: 42px;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #004191;
}

.tags {
    width: 132px;
    height: 21px;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #004191;
}

.rating {
    width: 23px;
    height: 19px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #ffc400;
}

.description {
    width: 339px;
    height: 111px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #004191;
}

.screen-title {
    width: 101px;
    height: 21px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #004191;
}

.image-url {
    width: 299px;
    height: 550px;
    border-radius: 15px;
    border: solid 1px #f0f0f0;
}




.add-container {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: row;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.add-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.add-modal-content {
    display: block;
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    border-radius: 15px;
    height: 40%;
    width: 30%; /* Could be more or less, depending on screen size */
}

.select-playlist {
    margin-top: 15px;
}
/* The Close Button (x) */
.add-close {
    position: absolute;
    right: 25px;
    top: 0;
    color: black;
    font-size: 35px;
    font-weight: bold;
}

    .add-close:hover,
    .add-close:focus {
        color: red;
        cursor: pointer;
    }

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

@media (max-width: 795px) {
    .image-url {
        height: 250px;
        width: 299px;
    }

    .movie {
        display: block;
    }

    .details {
        display: block;
        margin: auto;
    }

}




