<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="~/css/ntabs.css" media="screen" />

</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>

</html>

