<div class="form-content">
    <form>
        <label class="label-details" for="name">Username</label>
        <input type="text" id="name" name="username" placeholder="Your username..">

        <label class="label-details" for="password">Password</label>
        <input type="password" id="password" name="userpassword" placeholder="Your password..">

        <input type="submit" value="SIGN IN">
    </form>
</div>