<div class="form-content" id="registerId">
    <form method="POST">
        <label class="label-details" for="email">Email</label>
        <input type="text" id="remail" name="useremail" placeholder="Your email..">

        <label class="label-details" for="password">Password</label>
        <input type="password" id="rpassword" name="userpassword" placeholder="Your password..">

        <input type="submit" value="SIGN UP">
    </form>
</div>
