
@{
    ViewData["Title"] = "AddMovie";
    Layout = "_Layout";
}

<script type="text/javascript" src="~/js/knockout.js"></script>
<script type="text/javascript" src="~/js/jquery-3.3.1.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/addMovie.css" media="screen" />
<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.2.1/knockout-min.js"></script>

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">ADD MOVIE</button>

<div class="add-content">
    <div id="id01" class="add-modal">

        <form class="add-modal-content animate">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="add-close" title="Close Modal">&times;</span>
            </div>

            <div class="add-container">
                <div class="add-container-left">
                    <input type="text" style="height: 90%; border-radius: 15px;" placeholder="Thumbnail" name="thumbnail" /> 
                </div>
                <div class="add-container-right">
                    <div class="firstSection">
                        <input type="text" style="width: 40%; border-radius: 12px;" placeholder="Title" name="title" required />
                        <input type="text" style="width: 40%; border-radius: 12px;" placeholder="Category" name="category" required />
                        <input type="text" style="width: 40%; border-radius: 12px;" placeholder="Duration" name="duration" />
                    </div>
                    <div class="secondSection">
                        <input type="text" style="border-radius: 12px" placeholder="Description" name="description" />
                        <input type="text" style="border-radius: 12px" placeholder="Trailer" name="trailer" />
                        <input type="text" style="border-radius: 12px; width: 40%;" placeholder="Cast" name="cast" />
                    </div>
                    <button type="submit" style="margin: auto;">ADD</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>


