
@{
    ViewData["Title"] = "MovieDetails";
    Layout = "_Layout";
}

<script type="text/javascript" src="~/js/knockout.js"></script>
<script type="text/javascript" src="~/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="~/Scripts/ViewModels/MovieDetailsViewModel.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/movie-details.css" media="screen" />
<link rel="stylesheet" type="text/css" href="~/css/ntabs.css" media="screen" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.2.1/knockout-min.js"></script>
<script type="text/javascript" src="~/Scripts/common/ntabs.js"></script>


<div id="content" style="display: flex; flex-flow: column wrap; font-weight: bold; text-align: center;">
    <div data-bind="foreach: FetchedMovie">
        <div class="movie">
            <div class="image-content">
                <img class="image-url" data-bind="attr: {src: PictureUrl}" />
            </div>
            <div class="movie-details">
                <div class="n-tabs clearfix">
                    <div class="n-tabs-header">
                        <div class="n-tab n-tab-active" id="details" onclick="switchNTabs('details');">Details</div>
                        <div class="n-tab" id="rating" onclick="switchNTabs('rating');">Rating</div>
                        <div class="n-tab" id="cast" onclick="switchNTabs('cast');">Cast</div>
                    </div>
                    <div class="n-tabs-container clearfix">
                        <div class="n-tab-body clearfix" id="details-tab">
                            @*@await Html.PartialAsync("~/Views/Partial/_Details.cshtml")*@
                            <div class="details">
                                <div class="left-details">
                                    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                                        <h2 class="title" data-bind="text: Title"></h2>
                                        <button class="add-to-playlist" onclick="document.getElementById('id03').style.display='block'">+</button>


                                    </div>
                                    <h2 class="tags" data-bind="text: Tags"></h2>
                                    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                                        <h2 class="rating" data-bind="text: Rating"></h2>
                                        <img class="photo-star" style="width: 10px; height: 10px; margin-top: 18px;" src="~/img/star_icn.png" />
                                    </div>
                                    <h2 class="description" data-bind="text: Description"></h2>
                                    <h1 class="screen-title">Screenshots</h1>
                                    <div class="screnshots">
                                        <img class="image-url-screen" style="width: 100px; height: 100px; border-radius: 15px;" data-bind="attr: {src: PictureUrl}" />
                                        <img class="image-url-screen" style="width: 100px; height: 100px; border-radius: 15px; " data-bind="attr: {src: PictureUrl}" />
                                        <img class="image-url-screen" style="width: 100px; height: 100px; border-radius: 15px; " data-bind="attr: {src: PictureUrl}" />
                                        <img class="image-url-screen" style="width: 100px; height: 100px; border-radius: 15px; " data-bind="attr: {src: PictureUrl}" />
                                    </div>
                                </div>
                                <div class="right-details">
                                    <video width="320" height="240" controls>
                                        <source src=Trailer type="video/mp4">
                                    </video>
                                </div>
                            </div>

                        </div>
                        <div class="n-tab-body hidden-n-tab clearfix" id="rating-tab">
                            @await Html.PartialAsync("~/Views/Partial/_Rating.cshtml")
                        </div>
                        <div class="n-tab-body hidden-n-tab clearfix" id="cast-tab">
                            @await Html.PartialAsync("~/Views/Partial/_Cast.cshtml")
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-content">
                <div id="id03" class="add-modal">
                    <form class="add-modal-content animate" style="text-align: center; " method="POST">
                        <div class="add-to-playlist-content">
                            <select class="select-playlist" style="width: 90%; margin-left: 8px; border-radius: 12px;" name="play" required data-bind="options: playlistList, value: selectedPlaylist" />
                            <input type="text" style="margin-top: 15px; margin-left: 8px; text-align: center; width: 89%;" disabled data-bind="value: Title" />
                            <button type="submit" style="width: 90%; margin-top: 15px; margin-left: 8px; color: #004191" data-bind="click: addToPlaylistFunction">ADD</button>
                            <button  onclick="document.getElementById('id03').style.display='none'" style="width: 90%; margin-top: 15px; margin-left: 8px; color: red;">CANCEL</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript">
    var movieDetailsViewModel = null;
        $(document).ready(function () {
            movieDetailsViewModel = new MovieDetailsViewModel();
            ko.applyBindings(movieDetailsViewModel, document.getElementById("content"));
            ajaxGet("/Movie/GetById?id=@(ViewBag.MovieId)", {}, function (data) {
                movieDetailsViewModel.init(data);
            }, function (err) {
                alert("An error occured");
                console.log("ERR", err);
            });
        });

        function ajaxGet(url, postData, successCallback, failureCallBack, context, asyncCall) {
            $.ajax({
                url: url,
                dataType: "json",
                type: "GET",
                beforeSend: function (xhr) { xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.getItem('token')); },
                contentType: 'application/json; charset=utf-8',
                async: asyncCall === undefined ? true : asyncCall,
                cache: false,
                data: postData,
                success: successCallback,
                error: failureCallBack,
                context: context
            });
        }

    </script>

    <script>
        // Get the modal
        var modal = document.getElementById('id03');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
}

